


<div id="demande" class ="contenair text-center">
<h1>Ais-je un message ?</h1>
</div>
<div class="para">

<p>Si vous êtes touché par le décès d'un proche, vous pouvez nous demander à tout moment si vous êtes le destinataire d'un
message.</p>
<p> Pour ce faire, il suffit de nous envoyer un mail à l'adresse suivante
<a href="mailto:2018mymess@gmail.com">2018mymess@gmail.com</a></p>
<p>Dans ce mail, il faut nous indiquer votre nom, votre prénom, votre lieu
  et date de naissance.
</p>
<p>Le nom, le prénom, le lieu et la date de naissance du défunt.</p>
<p>Afin de nous assurer de l'éxactitude des informations, nous vous
demandons de joindre une copie de vote carte d'identité ainsi
qu'une copie de l'acte de décès du défunt.</p>
<p>Ces informations ne seront pas conservées dans notre base de données.</p>
</div>

